# MAIL_HOST: SMTP host (e.g., smtp.gmail.com)
MAIL_HOST="smtp.gmail.com"
# MAIL_PORT: SMTP port (e.g., 587)
MAIL_PORT="587"
# MAIL_USER: SMTP user email
MAIL_USER="engineerjutt15@gmail.com"
# MAIL_PASS: SMTP password or app-specific key
MAIL_PASS="yqzt okol qfkt vads"
# MAIL_SECURE: Set to true for port 465, false for others
MAIL_SECURE="false"

# MongoDB Database URI
MONGO_URI="mongodb://your-db-uri"

# JWT Configuration
JWT_SECRET="your_secure_jwt_secret"
JWT_EXPIRE="7d"
